.welcomePage{
    background-image: url(../../../assets/images/homeBackground.png);
    background-size: cover;
    height: 100vh;
}

.welcomeHeader{
    text-align: center;
    color:white;
    background: rgba(0, 0, 0, 1);
}

.welcomeForm{
    text-align: center;
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Chilanka', cursive;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1%;
}


.loginlabel{
    display: block;
    margin-top: 1%;
}

.btnStyle{
    margin-top: 2%;
}
