<div class="welcomePage">
        <h1 class="welcomeHeader">
                Welcome to VolleyBall Manager
        </h1>
    <div class="welcomeForm">
        <div>
            <label class="loginlabel" for="Username">Username:</label>
            <input placeholder="Username" (change)="getManagerName($event)"/>
            <label class="loginlabel" for="password">Password:</label>
            <input placeholder="Password" type="password" (change)="getPassword($event)"/><br>
            <a routerLink="signup">Don't have an account?</a><br>
            <button class="btn btn-primary btnStyle" (click)="logIn()">Log in</button>
        </div>
    </div>
</div>
