<div class="myTeam">
    <app-nav-bar></app-nav-bar>
<div class="players-container">
          <div *ngFor="let player of players$ | async">
            <app-player [player]="player" (selectedEvent)="onSelected($event)" [selected]="player === selectedPlayer"></app-player>
          </div>
        <app-player-details [player]="selectedPlayer" (changePlayer)="onPlayerChanged($event)">
        </app-player-details>
</div>
<a class="backToHome"routerLink="/home">Nazad</a>
</div>