<div *ngIf="player != null">
    <label (click)="selectPlayer()" [class.selected]="selected">{{player.playerName}} {{player.playerLastName}}</label><br>
    <p class="details">
    <span>Position: {{player.role}}, </span> 
    <span>Age: {{player.age}}, </span> 
    <span>Heigth: {{player.height}}, </span>
    <span>Team: {{player.team}}, </span>
    <span>Country: {{player.country}} </span>
    </p>
</div>
