<nav class="nav site-header sticky-top py-1 customNav">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" routerLink="/home">
        <img class="navImage" src="../../assets/images/icon.png" />&nbsp;&nbsp;
        <strong> Haikyuu</strong>
      </a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/profile">Managers</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/myteam">My Team</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/help">Help</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/">Log out</a>
    </div>
  </nav>