<div class="signupPage">
    <h1 class="signupHeader">
            Hello, new Manager on the field!
    </h1>
<div class="signupForm">
    <div>
            <label class="signupLabel" for="Username">-USERNAME AND PASSWORD HERE-</label>
        <label class="signupLabel" for="Username">Username:</label>
        <input placeholder="Username" (change)="getManagerName($event)"/>
        <label class="signupLabel" for="password">Password:</label>
        <input placeholder="Password" type="password" (change)="getPassword($event)"/><br>
        <button class="btn btn-primary btnStyle" (click)="signUp()">Sign up</button>
    </div>
</div>
<a class="backToWelcome"routerLink="/">Nazad</a>
</div>
