.signupPage{
    background-image: url(../../../assets/images/homeBackground.png);
    background-size: cover;
    height: 100vh;
}

.signupHeader{
    text-align: center;
    color:white;
    background: rgba(0, 0, 0, 1);
}

.signupForm{
    text-align: center;
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Chilanka', cursive;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1%;
}

.backToWelcome{
    width:10%;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 16pt;
    color: black;
}

.signupLabel{
    display: block;
    margin-top: 1%;
}

.btnStyle{
    margin-top: 2%;
}
