.profilePage{
    background-image: url(../../../assets/images/homeBackground.png);
    background-size: cover;
    height: 100vh;
}

.managerDetails{
    width: 40%;
    height: 80%;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 1%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    border-radius: 10px;
}

.manager{
    border: 1px solid white;
    border-radius: 5px;
    padding: 1%;
}

.backToHome{
    width:10%;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    font-size: 16pt;
    color: black;
}