<div class="profilePage">
    <app-nav-bar></app-nav-bar>
    <div class="managerDetails">
    <div class="manager" *ngFor="let manager of managers$ | async">
        <p>{{manager.managerName}}<br>
            <label>Title: {{manager.title}}</label><br>
            <label>Career Points: {{manager.careerPoints}}</label><br>
        </p>
    </div>
    </div>  
    <a class="backToHome"routerLink="/home">Nazad</a>
</div>