<div class="helpContainer">
<app-nav-bar></app-nav-bar>
<div class="helpText">
    <h4>Help</h4>
    <p>
        Build your ultimate volleyball team. Gather the best players you can and conquer the volleyball world.<br>
        Compete with other managers, earn your manager title, and get on top of manager class.<br>
    </p>
</div>
<a class="backToHome"routerLink="/home">Nazad</a>
</div>
